 @using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject Books.Resources.LocService L
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@using Books.Resources
@inject LocService SharedLocalizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Books.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DataTable.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>

    @{
        var current = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName;
        string url = "";
        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = L[c.TwoLetterISOLanguageName] })
        .ToList();
        var context = Context.Request;
        @*This line get the current page url value*@
        var queryString = context.QueryString.Value;
        if (queryString == null || queryString == "")
        {
            url = context.Path;
        }
        else
        {
            url = context.Path + queryString;
        }
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>






                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pe-3" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                                <li>
                                    <a asp-controller="lang" asp-action="changelanguage" asp-route-culture="fa-IR" class="navi-link">
                                </li>
                                <li> <a asp-action="SetLanguage" asp-controller="Language" asp-route-culture="fa" asp-route-returnUrl="@url" class="menu-link px-3 py-2"> <span class="menu-title">@L["Dari"]</span></a></li>
                                <li>
                                    <a asp-action="SetLanguage" asp-controller="Language" asp-route-culture="en-US" asp-route-returnUrl="@url" class="menu-link px-3 py-2">

                                        <span class="menu-title">@L["English"]</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Books - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/DataTable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/SweetAlertNotifaction.js"></script>
    @await RenderSectionAsync("myscript", required: false)
</body>
</html>